
    <div class="container">
      <header>
        <h1>All Users</h1>
      </header>
      <div class="users-list">
        {{#each users}}
        <div class="user">
          <p><strong>ID:</strong> {{this.id}}</p>
          <p><strong>Name:</strong> {{this.name}}</p>
          <p><strong>Email:</strong> {{this.email}}</p>
          <p><strong>Matricula:</strong> {{this.matricula}}</p>
          <p><strong>Coche:</strong> {{this.coche}}</p>
          <p><strong>Modelo:</strong> {{this.modelo}}</p>
          <p><strong>Role:</strong> {{this.role}}</p>
          <p><strong>Created At:</strong> {{this.createdAt}}</p>
          <p><strong>Updated At:</strong> {{this.updatedAt}}</p>
          {{#if this.Fichas}}
          <h2>Fichas</h2>
          <ul>
            {{#each this.Fichas}}
            <li>{{this.title}}: {{this.contenido}}</li>
            {{/each}}
          </ul>
          {{/if}}
         {{!-- <p style="color: red;">{{this.id}}</p> --}}
          {{#notEq ../loggedUser.id this.id}}
            {{#eq ../../loggedUser.role "ADMIN"}}
              <form action="/users/delete/{{../this.id}}?_method=DELETE" method="POST" onsubmit="return confirmDelete()">
                <button type="submit">Delete user</button>
              </form>

              <script>
                function confirmDelete() {
                  return confirm('Are you sure you want to delete this user?');
                }
              </script>
            {{/eq}}
          {{else}}
           <p style="color: red;">You can not delete yourself.</p>
          {{/notEq}}
        </div>
        {{/each}}
      </div>
        <form action="/" method="GET">
          <button type="submit">Go back</button>
        </form>
    </div>
