
  <div class="container">
    <header>
      <h1>User Details</h1>
    </header>
    <div class="user-info">
      
      <p><strong>Name:</strong> {{user.name}}</p>
      <p><strong>Email:</strong> {{user.email}}</p>
      <p><strong>Matricula:</strong> {{user.matricula}}</p>
      <p><strong>Marca:</strong> {{user.marca}}</p>
      <p><strong>Modelo:</strong> {{user.modelo}}</p>
      <p><strong>Role:</strong> {{user.role}}</p>
      <p><strong>Created At:</strong> {{user.createdAt}}</p>
      <p><strong>Updated At:</strong> {{user.updatedAt}}</p>
    </div>

    {{#if user.Fichas}}
      <div class="fichas">
        <h2>Fichas</h2>
        <ul>
          {{#each user.Fichas}}
            <li>{{this.title}}: {{this.contenido}}</li>
          {{/each}}
        </ul>
      </div>
    {{/if}}

    {{!-- {{#if (eq user.role 'ADMIN')}}
      <a href="/users"><button>View All Users</button></a>
    {{/if}} --}}
    {{#eq user.role "ADMIN"}} <a href="/users"><button>View All Users</button></a>{{/eq}}
    <form action="/" method="GET">
      <button type="submit">Go back</button>
    </form>
  </div>

